<div class="main-content">


  <div class="row">
    <div class="col-md-12">
      <div class="form-group"><label>Lojas</label>
  
        <br>
  
        <select   (change)="selecionarLoja($event.target.value)" class="form-control" data-toggle="select"
          id="selectr">
          <option value="Todos" >Todos</option>
          <option *ngFor="let item of listaLojas"

          
          value="{{item.nome}}">{{item.estado}} - {{item.nome}}</option>
  
        </select>
  
  
      </div>
    </div>
  </div>
  
 
  <div class="row">

    <div class="col-md-12">
      <button type="submit"  class="btn btn-info btn-round" (click)="semanaSelecionada('a')">Atual</button>
      <button type="submit" class="btn btn-info btn-round" (click)="semanaSelecionada('p')">Próxima</button>
    </div>
  </div>


  <div class="row">

    <div class="col-md-12">

      <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
        <div class="card card-plain"  *ngFor="let item of listaLojas">
         
          
         <div class="row" *ngIf="nomeLoja == '' ">
           
         
          <div class="card-header" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               {{item.nome}}
    
                  <i class="nc-icon nc-icon nc-minimal-down"></i>
              </a>
          </div>
    
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
          
              <div class="row">
                <div class="col-sm-4" *ngFor="let imagem of listaImagens; let i=index;" >

                  <div class="form-group" *ngIf="imagem.nome == item.nome">
        
        
        
                    <div class="card mb-3" style="width: 20rem;" >
        
                      <div id="accordion">
                        <div class="card">
                           FIGURA : {{i+1}}
                        </div>
                      </div>
                        <div class="card-body">
            
                          <div class="post-content">
                            <img src="{{imagem.url}}" class="img">
                          </div>
                      </div>
                        <div class="card-footer">
                        </div>
                      
                    </div>
        
        
        
        
                    
                  </div>
                </div>
              </div>
          
            </div>
          </div>


        </div>

        </div>



    
      </div>



   
    </div>
  </div>
</div>








